<!--Analitix Grafica Base-->
<script type="text/javascript">

    function udm_(e) {
        var t = "comScore=", n = document, r = n.cookie, i = "", s = "indexOf", o = "substring", u = "length", a = 2048, f, l = "&ns_", c = "&", h, p, d, v, m = window, g = m.encodeURIComponent || escape; if (r[s](t) + 1) for (d = 0, p = r.split(";"), v = p[u]; d < v; d++) h = p[d][s](t), h + 1 && (i = c + unescape(p[d][o](h + t[u]))); e += l + "_t=" + +(new Date) + l + "c=" + (n.characterSet || n.defaultCharset || "") + "&c8=" + g(n.title) + i + "&c7=" + g(n.URL) + "&c9=" + g(n.referrer), e[u] > a && e[s](c) > 0 && (f = e[o](0, a - 8).lastIndexOf(c), e = (e[o](0, f) + l + "cut=" + g(e[o](f + 1)))[o](0, a)), n.images ? (h = new Image, m.ns_p || (ns_p = h), h.src = e) : n.write("<", "p", "><", 'img src="', e, '" height="1" width="1" alt="*"', "><", "/p", ">")
    };

    function uid_call(a, b) {
        ui_c2 = 17183199; // your corporate c2 client value
        ui_ns_site = 'gobmx_isssste_td-ssf-cv'; // your sites identifier
        window.b_ui_event = window.c_ui_event != null ? window.c_ui_event : "", window.c_ui_event = a;
        var ui_pixel_url = 'https://sb.scorecardresearch.com/p?c1=2&c2=' + ui_c2 + '&ns_site=' + ui_ns_site + '&name=' + a + '&ns_type=hidden&type=hidden&ns_ui_type=' + b;
        var b = "comScore=", c = document, d = c.cookie, e = "", f = "indexOf", g = "substring", h = "length", i = 2048, j, k = "&ns_", l = "&", m, n, o, p, q = window, r = q.encodeURIComponent || escape; if (d[f](b) + 1) for (o = 0, n = d.split(";"), p = n[h]; o < p; o++) m = n[o][f](b), m + 1 && (e = l + unescape(n[o][g](m + b[h]))); ui_pixel_url += k + "_t=" + +(new Date) + k + "c=" + (c.characterSet || c.defaultCharset || "") + "&c8=" + r(c.title) + e + "&c7=" + r(c.URL) + "&c9=" + r(c.referrer) + "&b_ui_event=" + b_ui_event + "&c_ui_event=" + c_ui_event, ui_pixel_url[h] > i && ui_pixel_url[f](l) > 0 && (j = ui_pixel_url[g](0, i - 8).lastIndexOf(l), ui_pixel_url = (ui_pixel_url[g](0, j) + k + "cut=" + r(ui_pixel_url[g](j + 1)))[g](0, i)), c.images ? (m = new Image, q.ns_p || (ns_p = m), m.src = ui_pixel_url) : c.write("<p><img src='", ui_pixel_url, "' height='1' width='1' alt='*'></p>");
    }
    udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=Velacion.Inicio');
</script>
<noscript><p><img src="https://sb.scorecardresearch.com/p?c1=2&amp;amp;c2=17183199&amp;amp;ns_site=gobmx&amp;amp;name=ISSSTE.CremacionVelacion.Inicio" height="1" width="1" alt="*"></p></noscript>
<!-- End Digital Analytix Tag 1.1302.13 -->

<div data-ng-controller="homeController as vm" data-ng-init="vm.initEntitleData()">

    <style>
        .label-style {
            color: #545454 !important;
            font-size: 18px !important;
        }
    </style>
    <script type="text/javascript">
        $(function () {

            $('#updt').on("click", function () {
                $("html, body").animate({ scrollTop: 200 }, "slow");
            });
        });

        $(function () {

            $('#updtNoEntitle').on("click", function () {
                $("html, body").animate({ scrollTop: 200 }, "slow");
            });
        });


    </script>
    <script>
        function valida(e) {
            tecla = (document.all) ? e.keyCode : e.which;

            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }

            // Patron de entrada, en este caso solo acepta numeros
            patron = /[0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }
    </script>
    <!-- Start Botones -->


    <div style="width:100% !important">
        <div class="alerts"></div>

        <!--<div class="alert alert-warning" data-ng-show="vm.isEntitle() && !vm.isInformationComplete(form, form.telefono, form.correo)">
            Para poder continuar es necesario que complete y actualice la información faltante.
        </div>

        <div class="alert alert-warning" data-ng-show="!vm.isEntitle() && !vm.isInformationComplete(formNoEnt, formNoEnt.telefono, formNoEnt.correo)">
            Para poder continuar es necesario que complete y actualice la información faltante.
        </div>-->
        <!--<div class="alert alert-info">
            Antes de continuar le pedimos verificar y actualizar la siguiente información.<br>En caso de no ser correcta asista la oficina de afiliación y vigencia que le corresponda.
        </div>-->
        <!--<p><strong>Es importante, valides tus datos, los cuales están registrados en Afiliación y Vigencia del ISSSTE.</strong></p>-->



        <div class="alert alert-info marg-B30px marg-T30px " ng-hide="vm.isInfoUpdated">
            Verifica tu información y actualiza si es necesario.
        </div>
        <br />
        <div data-ng-show="!vm.isEntitle()">



            <ng-form name="formNoEnt" role="formNoEnt" novalidate="novalidate" class="ng-pristine ng-valid-pattern ng-valid ng-valid-required">

                <h2>Datos del derechohabiente</h2>
                <hr class="red" />

                <div class="form-group top-buffer">
                    <h2>Datos personales</h2>
                    <hr class="red" />
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label label-style" style="color:#545454 !important">Clave Única de Registro de Población (CURP) </label><label class="control-label">*</label><label class="control-label label-style">:</label>
                            <input required class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.CURP" pattern="^[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-Z]{1}[0-9]{1}$" pattern-err-type="curp">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label label-style">Registro Federal de Contribuyentes (RFC)</label><label class="control-label">*</label><label class="control-label label-style">:</label>
                            <input required class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.RFC" pattern-err-type="rfc">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label label-style">Nombre(s)</label><label class="control-label">*</label><label class="control-label label-style">:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.Name" required>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label label-style">Primer apellido </label><label class="control-label">*</label><label class="control-label label-style">:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.PaternalLastName" required>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label label-style">Segundo apellido</label><label class="control-label">*</label><label class="control-label label-style">:</label>
                            <input class="form-control" type="text" data-disabled="vm.isEntitle()" data-ng-model="vm.entitle.MaternalLastName" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h2>
                        Contacto
                        <!--<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="En caso de no contar con un correo o teléfono, puedes proporcionar el de un familiar." data-placement="bottom" data-original-title="En caso de no contar con un correo o teléfono, puedes proporcionar el de un familiar."></span>-->
                    </h2>
                    <hr class="red">
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="control-label label-style">Lada<label class="control-label">*</label>:</label>
                            <input name="lada" maxlength="3" class="ns_ form-control" placeholder="(Lada)" type="text" data-ng-model="vm.lada" required ng-minlength="2">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="control-label label-style">Teléfono fijo<label class="control-label">*</label>:</label>
                            <input name="telefono" maxlength="8" class="ns_ form-control" placeholder="Teléfono" type="text" data-ng-model="vm.telefono" required ng-minlength="8">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label label-style">Correo electrónico</label><label class="control-label">*</label><label class="control-label label-style">:</label>
                            <input name="correo" class="ns_ form-control" type="email" placeholder="usuario@dominio" data-ng-model="vm.entitle.Email" required> <!--ng-pattern="/^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i"-->
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <hr>
                    </div>
                </div>


                <div class="clearfix">
                    <div class="pull-left text-muted">
                        * Campos obligatorios
                    </div>


                    <div class="pull-right" data-ng-show="!vm.isEntitle()">
                        <a id="updtNoEntitle" class="btn btn-primary pull-right" type="button" ng-class="{ disabled: vm.error || !vm.isFormValid(formNoEnt, formNoEnt.telefono, formNoEnt.correo)}" data-ng-click="vm.updateEntitle()">Actualizar datos</a>
                    </div>
                </div>

            </ng-form>
        </div>

        <div data-ng-show="vm.isEntitle()">

            <ng-form name="form" role="form" novalidate="novalidate" class="ng-pristine ng-valid-pattern ng-valid ng-valid-required">
                <h2>Información general del derechohabiente</h2>
                <hr class="red" />
                <div>
                    No. ISSSTE:                            <b class="ng-binding">{{vm.entitle.NoISSSTE}}</b>
                </div>
                <br />
                <div class="form-group top-buffer marg-B30px marg-T30px">
                    <h2>Datos personales</h2>
                    <hr class="red">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Clave Única de Registro de Población (CURP):</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.CURP" pattern="^[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-Z]{1}[0-9]{1}$" pattern-err-type="curp">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Registro Federal de Contribuyentes (RFC):</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.RFC" pattern="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?" pattern-err-type="rfc">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <br />
                            <label class="control-label">Nombre(s):</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.Name" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Primer apellido:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.PaternalLastName" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Segundo apellido:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.MaternalLastName" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Sexo:</label>
                            <input class="form-control" type="text" disabled data-ng-show="vm.isEntitle()" data-ng-model="vm.entitle.Gender" required>
                            <select class="form-control" data-ng-show="!vm.isEntitle()" data-ng-model="vm.entitle.Gender" required>
                                <option value=''>- Selecciona uno -</option>
                                <option value="H">Masculino</option>
                                <option value="M">Femenino</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>

                <!--<div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group" data-ng-show="vm.isEntitle()">

                            <label class="control-label">Número de ISSSTE:</label>
                            <input name="numero-issste" class="form-control" type="text" disabled data-ng-model="vm.entitle.NoISSSTE">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group" data-ng-show="vm.isEntitle()">
                            <label class="control-label">Delegación asignada:</label>
                            <input class="form-control" type="text" disabled data-ng-model="vm.entitle.Delegation.Name">
                        </div>
                    </div>
                </div>-->


                <div class="form-group top-buffer marg-B30px marg-T30px">
                    <h2>
                        Datos de contacto
                        <!--<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="En caso de no contar con un correo o teléfono, puedes proporcionar el de un familiar." data-original-title="En caso de no contar con un correo o teléfono, puedes proporcionar el de un familiar."></span>-->
                    </h2>

                    <hr class="red">
                </div>
                <div class="row">
                    <!--<div class="col-xs-12 col-md-4">-->
                    <div id="divContacto" class="form-group">
                        <div class="col-if-6 col-sm-12 col-md-3">
                            <label class="control-label" style="color:#545454 !important; font-size: 18px !important">Lada</label><label class="control-label" style="color:#545454 important; font-size: 18px !important">*</label><label style="color:#545454 !important; margin-left:-0px; font-size: 18px !important">:</label>
                            <small><input name="lada2" id="inptlada" class="ns_ form-control form-control-error" maxlength="3" placeholder="(Lada)" type="text" data-ng-model="vm.lada" ng-maxlength="3" ng-minlength="2" required style="border-color:#bbb4b4" onkeypress="return valida(event)"></small>
                        </div>
                        <div class="col-if-6 col-sm-12 col-md-3">
                            <label class="control-label" style="color:#545454 !important; font-size: 18px !important">Teléfono fijo</label><label class="control-label" style="color:#545454 important; font-size: 18px !important">*</label><label style="color:#545454 !important; font-size: 18px !important">:</label>
                            <small><input name="telefono" id="inpttel" class="ns_ form-control form-control-error" maxlength="8" placeholder="Teléfono" type="text" data-ng-model="vm.telefono" ng-maxlength="8" ng-minlength="7" required style="border-color:#bbb4b4" onkeypress="return valida(event)"></small>
                        </div>
                        <div class="col-if-6 col-sm-12 col-md-6">
                            <label class="control-label" style="color:#545454 !important; font-size: 18px !important">Correo electrónico</label><label class="control-label" style="color:#545454 important; font-size: 18px !important">*</label><label style="color:#545454 !important; font-size: 18px !important">:</label>
                            <small> <input name="correo" id="inptemail" class="ns_ form-control form-control-error" type="email" placeholder="usuario@dominio.com" data-ng-model="vm.entitle.Email" required style="border-color:#bbb4b4"></small>
                        </div>

                    </div>
                    <!--</div>-->
                </div>



                <div class="form-group top-buffer marg-B30px marg-T30px">
                    <h2>Dirección</h2>
                    <hr class="red">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Código postal:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.ZipCode" required>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Estado:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.Birthplace" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Municipio o Alcaldía:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.City" required>
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Colonia:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.Colony" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Calle:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.Street" required>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label>Número exterior:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.NumExt" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label>Número interior:</label>
                            <input class="form-control" type="text" data-ng-disabled="vm.isEntitle()" data-ng-model="vm.entitle.NumInt">
                        </div>
                    </div>
                </div>


                <div class="bottom-buffer  col-md-8 col-md-offset-4 data-ng-show=" vm.isEntitle()"">

                </div>
                <div class="bottom-buffer clearfix">
                    <div class="pull-left marg-T10px " style="color:#DDDDDD ; ">
                        * Campos obligatorios
                    </div>
                    <a id="updt" onclick="uid_call('actualizaDatosDerehohabient.next.registro', 'clickin')" class="btn btn-primary pull-right" type="button" ng-class="{ disabled: vm.error || !vm.isFormValid(form, form.telefono, form.correo)}" data-ng-click="vm.updateEntitle()">Actualizar datos </a>
                </div>
                <!--

                <div class="clearfix bottom-buffer ">
                    <div class="pull-left text-muted">
                        * Campos obligatorios
                    </div>
                    <div class="pull-right" data-ng-show="vm.isEntitle()">

                        <a data-ng-dblclick="uid_call('index.registrer.request','clickin')" id="updt" onclick="uid_call('actualizaDatosDerehohabient.next.registro', 'clickin')" class="btn btn-primary pull-right" type="button" ng-class="{ disabled: vm.error || !vm.isFormValid(form,form.lada, form.telefono, form.correo)}" data-ng-click="vm.updateEntitle()">Actualizar datos </a>
                    </div>
                </div>-->
            </ng-form>
        </div>
        <!-- panel panel-default -->
    </div>


</div>
<!-- row -->
<!-- End Trámite -->
<!-- End tramite pensiones -->
<!-- container -->