<!--
######################################################################
//     ##Fecha de creación: 18/03/16
//     ##Fecha de última modificación: 18/04/16
//     ##Responsable: Emanuel De la Isla Vértiz
//     ##Módulos asociados: productsInPackageDataService.js, productsInPackageController.js
//     ##Id Tickets asociados al cambio: R-013165
//####################################################################
-->
    <!--Analitix Grafica Base-->
    <script type="text/javascript">

        function udm_(e) {
            var t = "comScore=", n = document, r = n.cookie, i = "", s = "indexOf", o = "substring", u = "length", a = 2048, f, l = "&ns_", c = "&", h, p, d, v, m = window, g = m.encodeURIComponent || escape; if (r[s](t) + 1) for (d = 0, p = r.split(";"), v = p[u]; d < v; d++) h = p[d][s](t), h + 1 && (i = c + unescape(p[d][o](h + t[u]))); e += l + "_t=" + +(new Date) + l + "c=" + (n.characterSet || n.defaultCharset || "") + "&c8=" + g(n.title) + i + "&c7=" + g(n.URL) + "&c9=" + g(n.referrer), e[u] > a && e[s](c) > 0 && (f = e[o](0, a - 8).lastIndexOf(c), e = (e[o](0, f) + l + "cut=" + g(e[o](f + 1)))[o](0, a)), n.images ? (h = new Image, m.ns_p || (ns_p = h), h.src = e) : n.write("<", "p", "><", 'img src="', e, '" height="1" width="1" alt="*"', "><", "/p", ">")
        };

        function uid_call(a, b) {
            ui_c2 = 17183199; // your corporate c2 client value
            ui_ns_site = 'gobmx_isssste_td-ssf-cv'; // your sites identifier
            window.b_ui_event = window.c_ui_event != null ? window.c_ui_event : "", window.c_ui_event = a;
            var ui_pixel_url = 'https://sb.scorecardresearch.com/p?c1=2&c2=' + ui_c2 + '&ns_site=' + ui_ns_site + '&name=' + a + '&ns_type=hidden&type=hidden&ns_ui_type=' + b;
            var b = "comScore=", c = document, d = c.cookie, e = "", f = "indexOf", g = "substring", h = "length", i = 2048, j, k = "&ns_", l = "&", m, n, o, p, q = window, r = q.encodeURIComponent || escape; if (d[f](b) + 1) for (o = 0, n = d.split(";"), p = n[h]; o < p; o++) m = n[o][f](b), m + 1 && (e = l + unescape(n[o][g](m + b[h]))); ui_pixel_url += k + "_t=" + +(new Date) + k + "c=" + (c.characterSet || c.defaultCharset || "") + "&c8=" + r(c.title) + e + "&c7=" + r(c.URL) + "&c9=" + r(c.referrer) + "&b_ui_event=" + b_ui_event + "&c_ui_event=" + c_ui_event, ui_pixel_url[h] > i && ui_pixel_url[f](l) > 0 && (j = ui_pixel_url[g](0, i - 8).lastIndexOf(l), ui_pixel_url = (ui_pixel_url[g](0, j) + k + "cut=" + r(ui_pixel_url[g](j + 1)))[g](0, i)), c.images ? (m = new Image, q.ns_p || (ns_p = m), m.src = ui_pixel_url) : c.write("<p><img src='", ui_pixel_url, "' height='1' width='1' alt='*'></p>");
        }
        udm_('https://sb.scorecardresearch.com/b?c1=2&c2=17183199&ns_site=gobmx&name=Velacion.CotizacionProductos');
    </script>
	<noscript><p><img src="https://sb.scorecardresearch.com/p?c1=2&amp;amp;c2=17183199&amp;amp;ns_site=gobmx&amp;amp;name=ISSSTE.CremacionVelacion.CotizacionProductos" height="1" width="1" alt="*"></p></noscript>
<!-- End Digital Analytix Tag 1.1302.13 -->

<div data-ng-controller="productsInPackageController as vm" data-ng-init="vm.initProductsPackages()">

 
    <div>
        <div class="row">

            <!-- brWizard -->
            <div class="col-md-12 marg-B30px marg-T30px">
                <ul class="wizard-steps">
                    <li class="completed">
                        <h5>Paso 1</h5>
                        <span>Seleccionar funeraria</span>
                    </li>
                    <li class="completed">
                        <h5>Paso 2</h5>
                        <span>Agregar paquete</span>

                    </li>
                    <li class="completed">
                        <h5>Paso 3</h5>
                        <span>Agregar productos</span>
                    </li>
                    <li>
                        <h5>Paso 4</h5>
                        <span>Revisar carrito</span>
                    </li>
                    <li style="width:229px !important">
                        <i class="glyphicon glyphicon-ok-circle"></i>
                    </li>
                </ul>
            </div>
            <!-- brWizard -->


            <div class="sticker ">

                <div class="col-xs-12 col-md-12 col-if-12 ">
                    <h2 style="text-transform: capitalize">Cotizar {{vm.package.Name}}</h2>
                    <hr class="red">
                </div>
            </div>


        </div>
    </div>
    <!-- row -->
    <!-- precios generales-->

    <div class="row table">

        <div class="col-xs-12  table">

            <div class="table">
                <div class="col-xs-12 col-if-4 col-lg-4 col-md-4  pull-left ">
                    <strong>Descripción</strong>
                </div>
                <div class="col-xs-12 col-if-4 col-lg-4 col-md-4 marg-T15px marg-B10px pull-right">
                    <strong>Total público: </strong><span id="totalPublico" data-total="0">${{vm.quotation.PublicTotal}}</span>
                </div>
                <div class="col-xs-12 col-if-4 col-lg-4 col-md-4 marg-T15px marg-B10px pull-right">
                    <strong>Total ISSSTE: </strong><span id="totalIssste" data-total="0">${{vm.quotation.EntitleTotal}}</span>
                </div>
            </div>
        </div>

        <div data-ng-repeat="container in vm.productsInPackage">
            <table class="" style="width:103%">
                <tr class="marg-B30px marg-T30px" data-ng-show="vm.isProductTypeSelected(container.ProductType)">
                    <td class="col-xs-4 col-if-3">
                        <p style="text-transform: capitalize" class="productName ">{{container.ProductType.Description }}</p>
                    </td>

                    <td class="col-xs-12 col-md-4 col-if-4">
                        <p>
                            Precio ISSSTE: <strong class="priceIssste">${{container.ProductType.SelectedPriceIssste}}</strong>
                        </p>
                    </td>
                    <td class="col-xs-12 col-md-3 col-if-3">
                        <p>
                            Precio Público: <strong class="pricePublic">${{container.ProductType.SelectedPricePublic}}</strong>
                        </p>
                    </td>
                    <td class="col-xs-12 col-md-1 col-if-1">
                        <button class="btn btn-default btn-sm marg-B5px menos marg-R5px" data-ng-click="vm.removeItemFromQuotation(container.ProductType)">Cambiar</button>
                    </td>
                    <hr>
                </tr>
            </table>
            <!-- una vez seleccionado el ataud sale esta seccion-->
            <!--<div class="col-xs-12 " data-ng-show="vm.isProductTypeSelected(container.ProductType)">
                <div data-pissste="" data-ppublic="">
                    <div class="col-xs-4 col-if-3">
                        <p class="productName">{{container.ProductType.Description}}</p>
                    </div>
                    <div class="col-xs-12 col-md-4 col-if-4">
                        <p>
                            Precio ISSSTE <strong class="priceIssste">${{container.ProductType.SelectedPriceIssste}}</strong>
                        </p>

                    </div>
                    <div class="col-xs-12 col-md-3 col-if-3">
                        <p>
                            Precio Publico <strong class="pricePublic">${{container.ProductType.SelectedPricePublic}}</strong>
                        </p>

                    </div>
                    <div class="col-xs-12 col-md-1 col-if-1">

                        <button class="btn btn-default btn-sm marg-B5px menos marg-R5px" data-ng-click="vm.removeItemFromQuotation(container.ProductType)">Cambiar</button>
                    </div>
                </div>
            </div>-->

            <div class="col-xs-12" data-ng-hide="vm.isProductTypeSelected(container.ProductType)">
                <h2  style="text-transform: capitalize"> {{container.ProductType.Description }}</h2>
                <hr class="red">
                <div class="post col-md-4" data-ng-repeat="product in container.Products">
                    <img data-ng-src="data:image/png;base64,{{product.ImageToBase64}}" class="image" />
                    <span class="overlap">
                        <div class="col-xs-12"><h5 class="pN" style="text-transform: capitalize" >{{product.ProductFromSirvel.Name }}</h5></div>
                        <div class="col-xs-6"><h6>Precio Público ${{product.ProductFromSirvel.NoEntitlePrice}}</h6></div><div class="col-xs-6"><h6>Precio ISSSTE ${{product.ProductFromSirvel.EntitlePrice}}</h6></div>
                        <span class="col-xs-12">
                            <p style="text-transform: capitalize">{{product.ProductFromSirvel.Description }}</p>
                        </span>

                        <div class="col-lg-12">
                            <button onclick="uid_call('ISSSTE.Velacion.AgregarProducto', 'clickin')" class="btn btn-primary pull-right btn-sm mas" data-issste="1599" data-publico="3009" data-ng-click="vm.addItemToQuotation(container.ProductType,product)" type="submit">Agregar</button>
                        </div>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="row sticker marg-T10px bottom-buffer">


        <div class="col-xs-12 col-md-6 col-if-7 pull-right ">
            <!--Analitix Grafica Base-->
            <a onclick="uid_call('ISSSTE.Velacion.Cotizar', 'clickin')" data-ng-click="vm.sendToConfirmation(nc.navigateToReviewUrl)" class="btn btn-primary pull-right marg-R5px" id="cotizar">Cotizar</a>
            <a data-ng-click="nc.navigateToLastRequestUrl()" class="btn btn-default pull-right marg-R5px">Regresar</a>
        </div>
    </div>


</div>
<script>
    //UI.initToolTips();

    //Se agregan tooltips Grafica Base
    $gmx(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>